@model IEnumerable<ProyectoNFTs.Application.DTOs.ClienteDTO>

@{
    ViewData["Title"] = "Index";
}

<!-- Se requiere cuando la página debe estar cargada completamente,
     osea con un inicio "defer" (atrazado)
     https://stackoverflow.com/questions/807878/how-to-make-javascript-execute-after-page-load
     -->
<script src="/js/pais.js" asp-append-version="true"></script>

<h1>Listado de Clientes</h1>
<p>
    <a asp-action="Create" class="btn btn-primary bi bi-plus-circle">Agregar Nuevo</a>
</p>
<div class="table-responsive">
    <table id="sortable" class="table table-striped table-hover table-responsive-md table-sm mt-3" style="border-radius: 6px; overflow: hidden; font-size:medium">
        <thead style="background-color: black; color: #fff; cursor:pointer ; height: 50px;text-align: left; vertical-align: middle;">
            <tr>
                <th onclick="sortBy(0)" style="cursor:pointer">
                    @Html.DisplayNameFor(model => model.IdCliente)
                </th>
                <th onclick="sortBy(1)" style="cursor:pointer">
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th onclick="sortBy(2)" style="cursor:pointer">
                    @Html.DisplayNameFor(model => model.Apellido1)
                </th>
                <th onclick="sortBy(3)" style="cursor:pointer">
                    Correo Eletrónico
                </th>
                <th onclick="sortBy(4)" style="cursor:pointer">
                    @Html.DisplayNameFor(model => model.Sexo)
                </th>
                <th onclick="sortBy(5)" style="cursor:pointer">
                    @Html.DisplayNameFor(model => model.IdPais)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td style="text-transform:uppercase">
                        @if (item.IdCliente != Guid.Empty)
                        {
                            @item.IdCliente.ToString().Substring(0, 16)
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Apellido1)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @{
                            string sexo = item.Sexo.Equals('F') ? "Femenino" : "Masculino";
                            @Html.Raw(sexo)
                            ;
                        }
                    </td>
                    <td>
                        <script>getPaisById(@item.IdPais, "div-@item.IdCliente")</script>
                        <div id="div-@item.IdCliente"></div>
                    </td>
                    <td>
                        <div class="btn-container">
                            @Html.ActionLink("Actualizar", "Edit", new { id = item.IdCliente }, new { @class = "btn btn-success   bi-pencil-square   " }) |
                            <!--https://www.learnrazorpages.com/razor-pages/ajax/unobtrusive-ajax-->
                            <a data-ajax="true" class="btn btn-secondary bi-eye-fill"
                               data-ajax-complete="onComplete"
                               data-ajax-mode="replace"
                               href='@Url.Action("Details", "Cliente", new { id  = item.IdCliente })'>
                                Detalles
                            </a>|
                            <button type="button" class="btn btn-danger bi bi-trash" onclick="deleteItem('@item.IdCliente')">Eliminar</button>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div id="showData"></div>

@section scripts {

    <script type="text/javascript">

        function deleteItem(id) {
            Swal.fire({
                title: '¿Eliminar Cliente?',
                html: '¿Está seguro de que quieres eliminar al cliente <strong>' + id + '</strong>?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#3085d6',
                confirmButtonText: 'Sí, eliminarlo',
                cancelButtonText: 'Cancelar'

            }).then((result) => {
                if (result.isConfirmed) {

                    const myRequest = "/Cliente/Delete?id=" + id
                    fetch(myRequest, {
                        method: 'GET',
                    })
                        .then((response) => response.text())
                        .then((text) => {
                            Swal.fire({
                                title: '¡Registro eliminado correctamente!',
                                icon: 'success',
                                showConfirmButton: true, // No mostrar el botón de confirmación
                                timer: 2000,
                                timerProgressBar: true
                            });
                            console.log(text);
                            // Retrasar la recarga de la página para que espere el temporizador del Swal.fire
                            setTimeout(() => {
                                location.reload();
                            }, 2000); // Esto espera 2000 milisegundos (2 segundos) antes de recargar la página
                            // Eliminar la fila correspondiente de la tabla
                            document.getElementById('row_' + id).remove();
                        });
                }
            })
        };

        function onComplete(data) {
            Swal.fire({
                title: 'Detalle ',
                html: data.responseText,
                showDenyButton: false,

                showCancelButton: false,
                timer: 5000,
                timerProgressBar: true
            })
        }
    </script>

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
