@model ProyectoNFTs.Application.DTOs.PaisDTO

<div class="container">
    <hr />
    <dl class="row">
        <dt class = "col-sm-5">
            @Html.DisplayNameFor(model => model.IdPais)
        </dt>
        <dd class = "col-sm-7">
            @Html.DisplayFor(model => model.IdPais)
        </dd>
        <dt class = "col-sm-5">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-7">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-5">
            @Html.DisplayNameFor(model => model.Alfa2)
        </dt>
        <dd class = "col-sm-7">
            @Html.DisplayFor(model => model.Alfa2)
        </dd>
        <dt class = "col-sm-5">
            @Html.DisplayNameFor(model => model.Alfa3)
        </dt>
        <dd class = "col-sm-7">
            @Html.DisplayFor(model => model.Alfa3)
        </dd>
    </dl>
</div>
