@model IEnumerable<ProyectoNFTs.Application.DTOs.FacturaDetalleDTO>

<div id="myCard">
    <div class="card">
        <div class="card-header">
            <h5>Detalle</h5>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped table-hover table-bordered text-center" id="detalleFactura">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Secuencia)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.IdNft)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.NombreNFT)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Cantidad)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Precio)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.TotalLinea)
                            </th>
                            <th></th>

                        </tr>
                    </thead>
                    <tbody>
                        @{
                            if (Model != null)
                                @foreach (var item in Model)
                                {
                                    <tr>

                                        <td align="left">
                                            @Html.DisplayFor(modelItem => item.Secuencia)
                                        </td>
                                        <td align="left" style="text-transform:uppercase">
                                            @Html.DisplayFor(modelItem => item.IdNft)
                                        </td>
                                        <td align="left">
                                            @Html.DisplayFor(modelItem => item.NombreNFT)
                                        </td>
                                        <td align="left">
                                            @Html.DisplayFor(modelItem => item.Cantidad)
                                        </td>
                                        <td align="left">
                                            @Html.DisplayFor(modelItem => item.Precio)
                                        </td>
                                        <td align="left">
                                            @Html.DisplayFor(modelItem => item.TotalLinea)
                                        </td>
                                        <td align="center">
                                            <button type="button" class="btn btn-danger" onclick="deleteProduct(@item.Secuencia)">Eliminar</button>
                                        </td>
                                    </tr>
                                }
                            <!-- Add dummy row in order to show totals-->
                            <tr>
                                <td align="left">
                                </td>
                                <td align="left">
                                </td>
                                <td align="left">
                                </td>
                                <td align="left">
                                </td>
                                <td align="left">
                                </td>
                                <td align="left">
                                    @{
                                        if (Model != null)
                                            @Model.Sum(p => p.TotalLinea).ToString("###,###.00")
                                    }
                                </td>
                                <td align="left">
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>